<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,
    500,600,700,800" rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.css">
    <title>Contact Page</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container _container">
                <a href="" class="header__logo">
                    AdamInspection
                </a>
                <nav class="header__menu menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="" class="menu__link">Home</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Services</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Book Inspection</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="page">
            <div class="page__main-block main-block">
                <div class="main-block__container _container">
                    <div class="main-block__body-contact-page">
                        <h1 class="main-block__title">QUALITY DOES NOT NEED TO BE EXPENSIVE</h1>
                        <div class="main-block__text">
                            At The Home Inspectors we pride ourselves on giving you the best
                            service at the best price. Everything you need, nothing you don’t.
                        </div>
                        <div class="main-block__buttons">
                            <a href="" class="main-block__button main-block__button_orange">
                                Book Your Inspection Now</a>
                            <a href="" class="main-block__button main-block__button_border">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="main-block__image _ibg">
                    <img src="img/clay-banks-KOfl23hSkFM-unsplash.jpg" alt="cover">
                </div>
            </div>
            <div class="line__contact">
                <div class="line__row">
                    <div class="line__text">
                        CONTACT US TODAY
                    </div>
                </div>
            </div>
            <div class="vertical">
                <div class="container">
                    <div class="vertical__body">
                        <div class="vertical__row">
                            <div class="vertical__column">
                                <div class="vertical__item">
                                    <div class="vertical__subtitle">CALL US</div>
                                    <div class="vertical__label">TO SEE YOU</div>
                                    <div class="vertical__text"><p>Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit.
                                        Cupiditate debitis enim eveniet mollitia, nostrum officiis
                                        omnis optio quibusdam voluptas voluptate.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Aliquid culpa debitis est, perferendis quam tempore tenetur.
                                            Adipisci inventore mollitia officia?</p>
                                    </div>
                                    <a href="" class="vertical__btn">CLICK CLUCK</a>
                                </div>
                            </div>
                            <div class="vertical__column">
                                <div class="vertical__item">
                                    <div class="vertical__subtitle">BOOK INSPECTION</div>
                                    <div class="vertical__label">TO SEE YOU</div>
                                    <div class="vertical__text">
                                        <form method="POST" th:action="@{/orders}" th:object="${serviceOrder}">
                                            <p>If You would like to add something to Your order,
                                                please click beneath</p>
                                            <a th:href="@{/services-page}" id="another">Click here</a>
                                            <ul>
                                                <li th:each="order : ${serviceOrder.orders}">
                                                    <span th:text="${order.name}">order</span>
                                                </li>
                                            </ul>

                                            <div th:if="${#fields.hasErrors()}">
                                                <span class="validationError">
                                            Please correct the problems below and resubmit.
                                                </span>
                                            </div>

                                            <label for="clientName">Insert Your name: </label>
                                            <input type="text" th:field="*{clientName}"/>
                                            <span class="validationError"
                                                  th:if="${#fields.hasErrors('clientName')}"
                                                  th:errors="*{clientName}">Name Error</span>
                                            <br/>
                                            <label for="clientLastName">Insert Your lastname: </label>
                                            <input type="text" th:field="*{clientLastName}"/>
                                            <span class="validationError"
                                                  th:if="${#fields.hasErrors('clientLastName')}"
                                                  th:errors="*{clientLastName}">LastName Error</span>
                                            <br/>
                                            <label for="clientCity">Insert Your name: </label>
                                            <input type="text" th:field="*{clientCity}"/>
                                            <span class="validationError"
                                                  th:if="${#fields.hasErrors('clientCity')}"
                                                  th:errors="*{clientCity}">City Error</span>
                                            <br/>
                                            <label for="clientState">Insert Your name: </label>
                                            <input type="text" th:field="*{clientState}"/>
                                            <span class="validationError"
                                                  th:if="${#fields.hasErrors('clientState')}"
                                                  th:errors="*{clientState}">State Error</span>
                                            <br/>
                                        </form>
                                    </div>
                                    <a href="" class="vertical__btn">CLICK CLUCK</a>
                                </div>
                            </div>
                            <div class="vertical__column">
                                <div class="vertical__item">
                                    <div class="vertical__subtitle">EMAIL US</div>
                                    <div class="vertical__label">TO SEE YOU</div>
                                    <div class="vertical__text"><p>Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit.
                                        Cupiditate debitis enim eveniet mollitia, nostrum officiis
                                        omnis optio quibusdam voluptas voluptate.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Aliquid culpa debitis est, perferendis quam tempore tenetur.
                                            Adipisci inventore mollitia officia?</p>
                                    </div>
                                    <a href="" class="vertical__btn">CLICK CLUCK</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer__contact__top">
                <div class="footer__main _container">
                    <div class="footer__row">
                        <div class="footer__column">
                            <div class="footer__label">Company Info</div>
                            <nav class="footer__menu menu-footer">
                                <ul class="menu-footer__list">
                                    <li class="menu-footer__item"><a href="" class="menu-footer__link">About Us</a> </li>
                                    <li class="menu-footer__item"><a href="" class="menu-footer__link">Services</a> </li>
                                    <li class="menu-footer__item"><a href="" class="menu-footer__link">Book Inspection</a> </li>
                                    <li class="menu-footer__item"><a href="" class="menu-footer__link">Contact Us</a> </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="footer__column">
                            <div class="footer__label">Legal</div>
                            <nav class="footer__menu menu-footer">
                                <ul class="menu-footer__list">
                                    <li class="menu-footer__item"><a href="" class="menu-footer__link">About Us</a> </li>
                                    <li class="menu-footer__item"><a href="" class="menu-footer__link">Services</a> </li>
                                    <li class="menu-footer__item"><a href="" class="menu-footer__link">Book Inspection</a> </li>
                                    <li class="menu-footer__item"><a href="" class="menu-footer__link">Contact Us</a> </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="footer__column">
                            <div class="footer__label">Feature</div>
                            <nav class="footer__menu menu-footer">
                                <ul class="menu-footer__list">
                                    <li class="menu-footer__item"><a href="" class="menu-footer__link">About Us</a> </li>
                                    <li class="menu-footer__item"><a href="" class="menu-footer__link">Services</a> </li>
                                    <li class="menu-footer__item"><a href="" class="menu-footer__link">Book Inspection</a> </li>
                                    <li class="menu-footer__item"><a href="" class="menu-footer__link">Contact Us</a> </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="footer__column">
                            <div class="footer__label">Resources</div>
                            <nav class="footer__menu menu-footer">
                                <ul class="menu-footer__list">
                                    <li class="menu-footer__item"><a href="" class="menu-footer__link">About Us</a> </li>
                                    <li class="menu-footer__item"><a href="" class="menu-footer__link">Services</a> </li>
                                    <li class="menu-footer__item"><a href="" class="menu-footer__link">Book Inspection</a> </li>
                                    <li class="menu-footer__item"><a href="" class="menu-footer__link">Contact Us</a> </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="footer__column">
                            <div class="footer__label">Get In Touch</div>
                            <div class="footer__contacts contacts-footer">
                                <a href="tel:9154405086" class="contacts-footer__item contacts-footer__item_phone">+7(915)4405086</a>
                                <a href="" class="contacts-footer__item contacts-footer__item_map">USA Texas</a>
                                <a href="mailto:liberty102and8131186@gmail.com" class="contacts-footer__item contacts-footer__item_email">liberty102and8131186@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__container _container">
                    <div class="footer__copy">Made With Love By AdamInspection All Right Reserved</div>
                    <div class="footer__social social">
                        <a href="" class="social__item">
                            <img src="img/img_8.png" alt="">
                        </a>
                        <a href="" class="social__item">
                            <img src="img/img_8.png" alt="">
                        </a>
                        <a href="" class="social__item">
                            <img src="img/img_8.png" alt="">
                        </a>
                        <a href="" class="social__item">
                            <img src="img/img_8.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>