<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,
    500,600,700,800" rel="stylesheet"/>
  <link rel="stylesheet" href="/style.css">
  <title>Services Page</title>
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container _container">
        <a href="" class="header__logo">
          AdamInspection
        </a>
        <nav class="header__menu menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="" class="menu__link">Home</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Services</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Book Inspection</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="page">
      <div class="page__main-block main-block">
      <div class="main-block__container _container">
        <div class="main-block__body-service-page">
          <h1 class="main-block__service-title">QUALITY DOES NOT NEED TO BE EXPENSIVE</h1>
          <div class="main-block__text">
            At The Home Inspectors we pride ourselves on giving you the best
            service at the best price. Everything you need, nothing you don’t.
          </div>
          <div class="main-block__buttons">
            <a href="" class="main-block__button main-block__button_orange">
              Book Your Inspection Now</a>
            <a href="" class="main-block__button main-block__button_border">Learn More</a>
          </div>
        </div>
      </div>
      <div class="main-block__image-service-page _ibg">
        <img src="img/maarten-deckers-0-frPETzEVs-unsplash.jpg" alt="cover">
      </div>
    </div>
      <div class="line">
        <div class="line__row">
          <div class="line__text">
            GENERAL HOME INSPECTION
          </div>
        </div>
      </div>
      <section class="second__block">
        <div class="second__block__container _container">
          <div class="second__block__row">
            <div class="second__block__body">
              <p>On the surface, a home may appear
                to be in good shape, but our experience inspecting new and older
                homes in and around Austin tells us that structural issues,
                roofing problems, electrical defects, and plumbing issues are common,
                and that minor deficiencies generally affect all properties.</p>
              <p>The intent is to provide you
                with all the information we can concerning the real condition of
                the home so that you can take care of any findings on your own,
                determine whether to proceed with the purchase of the home is prudent,
                or perhaps use the information from the
                inspection to negotiate the terms of your purchase.</p>
            </div>
            <div class="second__block__image">
              <img src="img/kedibone-isaac-makhumisane-rpyJIpXf5sk-unsplash (1).jpg" alt="image">
            </div>
          </div>
          <div class="second__block__second__row">
            <div class="second__block__second__image">
              <img src="img/img_14.png" alt="image">
            </div>
            <div class="second__block__second__body">
              <p>Swimming pools and spas are great additions to a home, if they are
                operating correctly and safely. Affordable Home Inspections will inspect
                the components of the pool and spa such as pumps, heaters, ladders, deck
                surfaces, diving boards, railings, and wiring to verify that
                your pool is ready for safe summer fun.</p>
              <p>The intent is to provide you
                with all the information we can concerning the real condition of
                the home so that you can take care of any findings on your own,
                determine whether to proceed with the purchase of the home is prudent,
                or perhaps use the information from the
                inspection to negotiate the terms of your purchase.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="list__block">
        <div class="list__block__container _container">
          <div class="list__block__row">
            <div class="list__block__content">
              <h2 class="list__block__title">General home inspections include a visual
                examination of the following components:</h2>
              <div class="list__block__list">
                <form method="POST" th:object="${order}">

                  <div class="item-group" id="foundation">
                    <div th:each="item :${foundation}">
                      <input th:field="*{items}" type="checkbox"
                             th:value="${item.id}"/>
                      <span th:text="${item.name}">ITEM</span><br/>
                    </div>
                  </div>
                  <div class="item-group" id="wall">
                    <div th:each="item :${wall}">
                      <input th:field="*{items}" type="checkbox"
                             th:value="${item.id}"/>
                      <span th:text="${item.name}">WALL</span><br/>
                    </div>
                  </div>
                  <div class="item-group" id="electrical">
                    <div th:each="item :${electrical}">
                      <input th:field="*{items}" type="checkbox"
                             th:value="${item.id}"/>
                      <span th:text="${item.name}">ELECTRICAL</span><br/>
                    </div>
                  </div>
                  <div class="item-group" id="roof">
                    <div th:each="item :${roof}">
                      <input th:field="*{items}" type="checkbox"
                             th:value="${item.id}"/>
                      <span th:text="${item.name}">ROOF</span><br/>
                    </div>
                  </div>
                  <div class="item-group" id="ceiling">
                    <div th:each="item :${ceiling}">
                      <input th:field="*{items}" type="checkbox"
                             th:value="${item.id}"/>
                      <span th:text="${item.name}">CEILING</span><br/>
                    </div>
                  </div>
                  <div class="item-group" id="yardAndGarden">
                    <div th:each="item :${yardAndGarden}">
                      <input th:field="*{items}" type="checkbox"
                             th:value="${item.id}"/>
                      <span th:text="${item.name}">YARD_AND_GARDEN</span><br/>
                    </div>
                  </div>
                  <div>
                    <h3>Add some information if You guess:</h3>
                    <input type="text" th:field="*{additionalInformation}"/><br/>
                    <button>Submit Your order</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="list__block__page">
              <img src="img/amber-kipp-KYyy5WA_1qU-unsplash.jpg" alt="cover-page">
            </div>
          </div>
        </div>
      </section>
    </main>
    <div class="footer">
      <div class="footer__services__top">
        <div class="footer__main _container">
          <div class="footer__row">
            <div class="footer__column">
              <div class="footer__label">Company Info</div>
              <nav class="footer__menu menu-footer">
                <ul class="menu-footer__list">
                  <li class="menu-footer__item"><a href="" class="menu-footer__link">About Us</a> </li>
                  <li class="menu-footer__item"><a href="" class="menu-footer__link">Services</a> </li>
                  <li class="menu-footer__item"><a href="" class="menu-footer__link">Book Inspection</a> </li>
                  <li class="menu-footer__item"><a href="" class="menu-footer__link">Contact Us</a> </li>
                </ul>
              </nav>
            </div>
            <div class="footer__column">
              <div class="footer__label">Legal</div>
              <nav class="footer__menu menu-footer">
                <ul class="menu-footer__list">
                  <li class="menu-footer__item"><a href="" class="menu-footer__link">About Us</a> </li>
                  <li class="menu-footer__item"><a href="" class="menu-footer__link">Services</a> </li>
                  <li class="menu-footer__item"><a href="" class="menu-footer__link">Book Inspection</a> </li>
                  <li class="menu-footer__item"><a href="" class="menu-footer__link">Contact Us</a> </li>
                </ul>
              </nav>
            </div>
            <div class="footer__column">
              <div class="footer__label">Feature</div>
              <nav class="footer__menu menu-footer">
                <ul class="menu-footer__list">
                  <li class="menu-footer__item"><a href="" class="menu-footer__link">About Us</a> </li>
                  <li class="menu-footer__item"><a href="" class="menu-footer__link">Services</a> </li>
                  <li class="menu-footer__item"><a href="" class="menu-footer__link">Book Inspection</a> </li>
                  <li class="menu-footer__item"><a href="" class="menu-footer__link">Contact Us</a> </li>
                </ul>
              </nav>
            </div>
            <div class="footer__column">
              <div class="footer__label">Resources</div>
              <nav class="footer__menu menu-footer">
                <ul class="menu-footer__list">
                  <li class="menu-footer__item"><a href="" class="menu-footer__link">About Us</a> </li>
                  <li class="menu-footer__item"><a href="" class="menu-footer__link">Services</a> </li>
                  <li class="menu-footer__item"><a href="" class="menu-footer__link">Book Inspection</a> </li>
                  <li class="menu-footer__item"><a href="" class="menu-footer__link">Contact Us</a> </li>
                </ul>
              </nav>
            </div>
            <div class="footer__column">
              <div class="footer__label">Get In Touch</div>
              <div class="footer__contacts contacts-footer">
                <a href="tel:9154405086" class="contacts-footer__item contacts-footer__item_phone">+7(915)4405086</a>
                <a href="" class="contacts-footer__item contacts-footer__item_map">USA Texas</a>
                <a href="mailto:liberty102and8131186@gmail.com" class="contacts-footer__item contacts-footer__item_email">liberty102and8131186@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer__bottom">
        <div class="footer__container _container">
          <div class="footer__copy">Made With Love By AdamInspection All Right Reserved</div>
          <div class="footer__social social">
            <a href="" class="social__item">
              <img src="img/img_8.png" alt="">
            </a>
            <a href="" class="social__item">
              <img src="img/img_8.png" alt="">
            </a>
            <a href="" class="social__item">
              <img src="img/img_8.png" alt="">
            </a>
            <a href="" class="social__item">
              <img src="img/img_8.png" alt="">
            </a>
          </div>
        </div>
        </main>
      </footer>
    </div>
  <script src="js/script.js"></script>
</body>
</html>